.title {
    font-family: Lobster, cursive, sans-serif;
    color: #4BBBFF;
    text-decoration: underline;
}




.about__icon{

    color: var(--color-primary);
    font-size: 2rem;
    margin-bottom: 1rem;
}







