/* Footer.css */
/* footer {
    background-color: #343a40;
    padding: 20px 0;
  }
  
  .text-light {
    color: #ffffff !important;
  }
  
  .fs-2 {
    font-size: 1.5rem;
  }
  
  .pe-3 {
    padding-right: 1rem;
  } */
  