@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap");


/* .grid {
    display: grid;
    gap: var(--bs-gap);
    grid-template-columns: var(--bs-columns);
} */

/* * {
    max-width: 800px;
    margin: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} */

.resume-header {
    background-color: #ACD68B;
    
}

.city {
    font-size: .75rem;
}

.summary-head {
    font-family: Lobster, cursive, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
}

.summary {
    font-size: 10px;
}
.work-head {
    background-color: #ACD68B;
}
.job-name {
    font-size: .70rem
}
.dates {
    font-size: .75rem;
    font-style: italic;
}
li {
    font-size: 10px;
}
.education,a {
    font-size: 10px;
    line-height: 1rem;
}
h3 {
    background-color: #ACD68B;
}
/* .school {
    font-size: medium;
    font-weight: bold;
    font-style: italic;
} */