.name {
    font-size: 6rem;
    font-family: Lobster, cursive, sans-serif;
    color:rgb(25, 71, 187);
  
}
.my-image {
    width: 35%;
    height: auto;
    
}
.hello {
    font-size: 4rem;
    font-family: sans-serif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.iAm {
    font-size: 2rem;
}