/* .heading {
    font-family: Lobster, cursive, sans-serif;
    text-decoration: underline;
    color: #4BBBFF;
}*/




.card {
    width:15rem;
   
   
    
}
img {
    
    height: 12rem;
    

}
.card-body{
    height: 5rem;
}
/* @media screen and (max-width: 1024px) {

    .container{

        width: var(--container-width-md);
    }
    .nav{
        margin-right: 30rem;;
    }


    
}



@media screen and (max-width: 600px) {

    .container{

        width: var(--container-width-sm);
    }

    section > h2{

        margin-bottom: 2rem;
    }
} */












