.title {
    font-family: Lobster, cursive, sans-serif;
    color: #4BBBFF;
    text-decoration: underline;
}

.about-container {
    border-right: 1px solid white;
    

}


.about__icon{

    color: var(--color-primary);
    font-size: 2rem;
    margin-bottom: 1rem;
}





@media screen and (max-width: 991px) {
    
    .about-container{
       border: none;
    }
}

